.about-link{
   font-size: 1rem;
   font-weight: 400;
    text-align: left;
    color: $primary;
}
.box-container i{
font-size: 2.5rem;
margin-right: 1rem;
vertical-align: center;
margin: 0 auto;
}
.box{
    text-align: left;
    padding: 1rem 2rem;
}
.box p{
    text-align: left;
}
.box h5{
    font-size: 1.3rem;
    color: $text-dark;
}
.team{
    background-color: $background-light;
    padding: 2rem 1rem;
}
.team h4{
    color: $text-dark;
    text-align: center;
    
}
.card{
    margin-top: 2.2rem;
    background-color: $white;
    margin-right: 1.7rem;
   padding-bottom: 1.3rem;
   box-shadow: 0 0 .3rem .1rem rgba(0,0,0,0.2);
}
.card h5{
    color: $primary;
    text-align: center;
}
.card img{
    width: 100%;
}
.best{
    text-align: center;
    padding: 2rem 1em;
}
@media screen and (max-width: 998px) {
    html{
        font-size: 17px;
    }
    body{
        line-height: 1.2;
    }
    .container{
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
    }
    .flex-100{
        flex: 0 1 100%;
        margin: 1.2rem 0;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
  .rows{
    flex-direction: row;
  }

}
@media screen and (max-width: 778px) {
    .container{
    max-width: 780px;
    margin: 1rem 1rem;
width: 100%;
    }
    html{
        font-size: 17px;
    }
    body{
        line-height: 1.2;
    }
    .flex-100{
        flex: 0 1 100%;
        margin: 1.2rem 0;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
  .rows{
    flex-direction: row;
  }
   
}