.hero-main{
    background-color: $primary;
    text-align: center;
   
}
.hero-main h1{
    color: $white;
    padding: 2rem 1rem;
}
.hero-main p {
    text-align: center;
    color: $white;
}
.found-flex{
    padding: 2rem 1rem;
    text-align: center;
}
.found-flex i{
    color: $primary;
    font-size: 1.5rem;
    background-color: rgb(238, 237, 237);
    border-radius: 50%;
    padding: 1rem;
    margin-bottom: 1,2rem;
}
.found-flex h4{
    color: $text-dark;
    font-size: 1.2rem;
padding: 1rem 0;
}
@media screen and (max-width: 998px) {
    html{
        font-size: 17px;
    }
    body{
        line-height: 1.2;
    }
    .container{
        max-width: 900px;
        margin: 0 auto;
        width: 100%;
    }
    .flex-100{
        flex: 0 1 100%;
        margin: 1.2rem 0;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
  .rows{
    flex-direction: row;
  }

}
@media screen and (max-width: 778px) {
    .container{
    max-width: 780px;
    margin: 1rem 1rem;
width: 100%;
    }
    html{
        font-size: 17px;
    }
    body{
        line-height: 1.2;
    }
    .flex-100{
        flex: 0 1 100%;
        margin: 1.2rem 0;
    }
    .flex{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }
  .rows{
    flex-direction: row;
  }
   
}