.products{
    background-color: $background-light;
    padding: 2rem 0;
}
.row .flex-30{
   margin: 1rem 1rem;
}
.row img{
    width: 20%;
}
.row h4{
    color: $text-dark;
    padding: 0;
}
.row p{
    padding-left: 0;
    text-align: left;
}
hr{
    background-color: $text-light;
    width: 1200px;
    text-align: center;
}
.deals{
    background-color: $primary;
}
h6{
    color: $white;
    vertical-align: center;
    padding: 1rem 2rem;
}
h6 strong{
    color: $white;
    font-size: 2rem;
    vertical-align: center;
    padding: 1rem 1rem;
}
.sharp{
    border-radius: none;
}