$primary: rgb(220,60,69);
$secondary : rgb(242,242,242);
$text-light:rgb(156,162,167);
$text-dark: rgb(27,30,36);
$white: white;
$black: black;
$background : rgb(52,58,64);
$background-light : rgb(240,243,247);